.header{
    text-align: center;
    font-size: 50px;
    color: blue;
}
.header2{
    text-align: center;
    font-size: 30px;
    color: rgb(147, 147, 199);
}
.image{
    box-shadow: 5px 5px 5px 0px gray;
}
section{
    background-color: #000;
}

p{
    font-size:15px;
    color: green;
}

ul{
    color: darkgrey;
    size: 15px;
}